.navbar-light .navbar-brand {
    color: white !important;
    cursor: pointer;
}

div.center {
    margin: 100px auto;
    max-width: 700px;
    text-align: center;
    padding: 0px 10px;
}

div.star-details {
    text-align: center;
    margin-top: 50px;
}

div.available {
    margin-top: 50px;
}

.spinner-grow {
    height: 300px;
    width: 300px;
}

span.account-address {
    position: relative;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

.dropdown-toggle:empty::after {
    color: white;
}

.input-group-append > button {
    width: 160px;
}

span.first4, span.last4, span.star {
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span.first4 {
    color: dodgerblue;
}

span.last4 {
    color: lightseagreen;
}

span.star {
    color: tomato;
}

span.descr {
    font-weight: 100;
}

div.note-nest {
    width: 300px;
    text-align: left;
    position: absolute;
    left: 100px;
    top: 150px;
    border: 1px solid deeppink;
    padding: 20px;
    background: white;
}

div.note-nest i {
    font-size: 25px;
    color: deeppink;
}

body {
    overflow: hidden;
}

div.info {
    border: 1px solid dodgerblue;
    border-top: none;
    width: fit-content;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
    cursor: n-resize;
}

div.info code {
    color: dodgerblue;
}

div.available {
    padding-top: 50px;
    width: fit-content;
    margin: auto auto;
}

button {
    min-width: fit-content;
}