.navbar-light .navbar-brand {
    color: white !important;
    cursor: pointer;
}

div.center {
    margin: 240px auto;
    width: 500px;
    text-align: center;
}

div.star-details {
    text-align: center;
    margin-top: 100px;
}

div.available {
    margin-top: 50px;
}

.spinner-grow {
    height: 300px;
    width: 300px;
}

span.account-address {
    position: relative;
    color: white;
    border: 1px solid white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-toggle:empty::after {
    color: white;
}

.input-group-append > button {
    width: 140px;
}

span.first4, span.last4, span.star {
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span.first4 {
    color: dodgerblue;
}

span.last4 {
    color: lightseagreen;
}

span.star {
    color: tomato;
}

span.descr {
    font-weight: 100;
}